<p style="color: green;"><%= notice %></p>

<div class="flexit-column">
  <h1 class="flexit-center">Collections</h1>

  <div class="flexit-center">
    <%= link_to "Add a collection", new_collection_path, class: "button" %>
  </div>

  <div id="collections">
    <% @collections.each do |collection| %>
      <%= render collection %>
      <div class="flexit-center">
        <%= link_to "View", collection %>
      </div>
    <% end %>
  </div>

</div>


