<p style="color: green"><%= notice %></p>

<h1>Collections</h1>

<%= link_to "Add a collection", new_collection_path %>

<div id="collections">
  <% @collections.each do |collection| %>
    <%= render collection %>
    <p>
      <%= link_to "View", collection %>
    </p>
  <% end %>
</div>


