<div class="flexit-column">
    <div class="flexit flexit-center"><h1 id="main-title">Priority</h1><h1>Planner</h1></div>
    <h3 class="flexit-center">A quick way to sort your priorities.</h3>

    <div class="spacer"></div>
    <div class="compass">
        <div class="compass-inner">
            <div class="north">N</div>
            <div class="east">E</div>
            <div class="west">W</div>
            <div class="south">S</div>
            <div class="main-arrow">
                <div class="arrow-up"></div>
                <div class="arrow-down"></div>
            </div>
        </div>
    </div>
</div>
