<div class="flexit-column">
    <div class="flexit flexit-center"><h1 id="main-title">Priority</h1><h1>Planner</h1></div>
    <h3 class="flexit-center">A quick way to sort your priorities.</h3>

    <div class="flexit-center" id="hero-image">
        <%= image_tag "thinking.svg", style: "" %>
    </div>
</div>
